<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ScreenMatch</title>
</head>
<body>
    <h1>Hola desde Spring boot</h1>
    <p th:text="${mensaje}"></p>
    <h1>Estadísticas de Episodios</h1>
    <!--<p>Promedio: <span th:text="${std.average}"></span></p>
    <p>Valor máximo: <span th:text="${std.max}"></span></p>
    <p>Valor mínimo: <span th:text="${std.min}"></span></p>
    <p>Total de valores: <span th:text="${std.count}"></span></p>-->
</body>
</html>
