
<!--
Aplicar Configuración de Logback
Spring Boot utiliza Logback por defecto. Puedes definir una configuración personalizada de Logback
para tener más control sobre los niveles de logging. Crea un archivo
logback-spring.xml en src/main/resources:
-->
<configuration>
    <logger name="org.hibernate.SQL" level="OFF" />
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="OFF" />
    <logger name="org.hibernate.engine.jdbc.spi.SqlExceptionHelper" level="OFF" />
    <logger name="org.hibernate.type.descriptor.sql.BasicExtractor" level="OFF" />
    <logger name="org.hibernate.tool.hbm2ddl" level="OFF" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>


